table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid black;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

table td {
  font-size: 0.9rem;
}

  